<div=class = "row">
  <div class ="col-md-12 col-md-offset-4">

      <h1>Information</h1>
      <br><br>

      <img src="./images/mini-Project.PNG" alt"..." class="img-responsive" alt="..." class="center">

      <br><br>
      <p>The premise of this project is to use the touch sensor and the Hall effect sensor on the ESP-32 to detect the opening of a door. The touch sensor will be triggered if touched for longer than three seconds. The hall effect sensor will be triggered when the door is opened. Through the app the opening hours can be configured. If the door is opened during the regulation hours no data is sent to the application. If the system is triggered outside of those hours the data will be sent to the application where the time and date will be logged and displayed.
The technologies required to complete this project will be:
ESP-32 – for sensor readings and communication with cloud.
AWS – to host webpage, IoT Core to send data to cloud.
Node.JS / Express – to design the app and retrieve data.
MongoDB – to store the logged times.
</p>

  </div>
</div>
